

{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block 'body' %}
<div class="main-content-wrap sidenav-open d-flex flex-column">

<div class="main-content">
    <div class="breadcrumb">
        <h1>التعليق الخاص بك  </h1>

    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                   <h6>عنوان الطلب : {{consultationid.name}}</h6>
                   <h6>رقم الطلب : {{consultationid.code}}</h6>
                   <h6>__________________________________________</h6>
                   <h5>الرد  : </h5>
                   <h6>{{comment_display.text}}</h6>
                   <h6>{{comment_display.created_date}}</h6>
                </div>
            </div>
        </div>
    </div>
    </div>

</div><!-- Footer Start -->


{% endblock %}