{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="{% static 'dist-assets/css/themes/lite-purple.min.css'%}" rel="stylesheet" />
    <link href="{% static 'dist-assets/css/plugins/perfect-scrollbar.min.css'%}" rel="stylesheet" />
    <link href="{% static 'dist-assets/css/plugins/progesssteps.css'%}" rel="stylesheet" />
    <link href="{% static 'dist-assets/css/plugins/progessstepsdemo.css'%}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&family=Tajawal:wght@400;500;700;800&display=swap" rel="stylesheet"></head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>

    {% if title %}
        <title>Benaa | {{title}}</title>
        {% else %}
        <title>Benaa</title>
    {% endif %}

</head>

<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-large">
        <div class="main-header">
            <div class="logo">
                <img src="{% static 'dist-assets/images/benaa_logo.png'%}" alt="">
            </div>
            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div style="margin: auto"></div>
            <div class="header-part-right">
                <!-- Full screen toggle -->
                <i class="i-Full-Screen header-icon d-none d-sm-inline-block" data-fullscreen></i>
                <!-- Grid menu Dropdown -->
                <a  href="{% url 'users:profile' %}" ><span class="nav-text">مرحباً {{request.user.profile.name}} |  </span></a>    
                {% if request.user.is_superuser %}
      
                <a  href="{% url 'admin:index' %}" ><span class="nav-text ml-2" style="color:red;"> صفحة الأدمن </span></a>  
                {% endif %}
        
                 <!-- User avatar dropdown -->
                <div class="dropdown">
                    <div class="user col align-self-end ">
                        {% if request.user.profile.image %}
                        <img src="{{request.user.profile.image.url}}" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% else %}
                        <img src="" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="userDropdown">
                       
                            {% if request.user.is_superuser %}

                            <a class="dropdown-item"  href="{% url 'admin:index' %}">صفحة الادمن</a>
                            {% endif %}

                            <a class="dropdown-item"  href="{% url 'users:profile' %}">صفحتك الشخصية</a>
                            <a class="dropdown-item"  href="{% url 'users:add_company' %}">التقديم كشركة</a>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">تسجيل الخروج</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-content-wrap">
            <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
                <ul class="navigation-left">
                    <li class="nav-item"><a class="nav-item-hold" href="{% url 'dashboard:dashboard' %}"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">لوحة التحكم</span></a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item"><a class="nav-item-hold" href="{% url 'users:company_list' %}"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">تصفح الشركات</span></a>
                        <div class="triangle"></div>
                    </li>



                    {% if user_profile.userType == "شركة" %}

                    <li class="nav-item"><a class="nav-item-hold" href="{% url 'request:project_request_list' %}"><i class="nav-icon i-Bar-Chart"></i><span class="nav-text">مشاريع العملاء</span></a>
                        <div class="triangle"></div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-item-hold" href="{% url 'orders:project_request_orders' %}"><i class="nav-icon i-Bar-Chart"></i><span class="nav-text">مشاريعك</span></a>
                        <div class="triangle"></div>
                    </li>
                    {% endif %}


                    {% if user_profile.userType == "شركة" %}

                    <li class="nav-item"><a class="nav-item-hold" href="{% url 'orders:request_order_for_company' %}"><i class="nav-icon i-File"></i><span class="nav-text">إستشارات العملاء</span></a>
                        <div class="triangle"></div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-item-hold" href="{% url 'orders:request_order_for_company' %}"><i class="nav-icon i-File"></i><span class="nav-text">إستشاراتك</span></a>
                        <div class="triangle"></div>
                    </li>
                    {% endif %}

                    {% comment %} <li class="nav-item"><a class="nav-item-hold" href="not_verified.html"><i class="nav-icon i-Add-User"></i><span class="nav-text">تحت المراجعه</span></a>
                        <div class="triangle"></div>
                    </li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-item-hold" href="./companies.html"><i class="nav-icon i-Suitcase"></i><span class="nav-text">الشركات</span></a>
                        <div class="triangle"></div>
                    </li> {% endcomment %}

                    {% comment %} <li class="nav-item"><a class="nav-item-hold" href="subscription.html"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">الاشتراكات</span></a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item"><a class="nav-item-hold" href="orders.html"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">الطلبات</span></a>
                        <div class="triangle"></div>
                    </li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-item-hold" href="orders.html"><i class="nav-icon i-File-Clipboard-File--Text"></i><span class="nav-text">الطلبات الخاصه</span></a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item"><a class="nav-item-hold" href="support.html"><i class="nav-icon i-File-Clipboard-File--Text"></i><span class="nav-text">الدعم</span></a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item"><a class="nav-item-hold" href="edit_settings.html"><i class="nav-icon i-File-Clipboard-File--Text"></i><span class="nav-text">الاعدادات</span></a>
                        <div class="triangle"></div>
                    </li> {% endcomment %}
                </ul>
            </div>
            <div class="sidebar-overlay"></div>
        </div>



        {% block 'body' %}
        
        {% endblock %}


        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $('#datepicker1').datepicker({
            uiLibrary: 'bootstrap4'
        });
        $('#datepicker2').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <!-- ============ Search UI End ============= -->
    <script src="{% static 'dist-assets/js/plugins/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/plugins/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/plugins/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/scripts/script.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/scripts/sidebar.large.script.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/plugins/echarts.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/scripts/echart.options.min.js'%}"></script>
    <script src="{% static 'dist-assets/js/scripts/dashboard.v1.script.min.js'%}"></script>
</body>

</html>