{% extends 'base.html' %}
{% block 'body' %}


<div class="main-content-wrap sidenav-open d-flex flex-column">
<!-- ============ Body content start ============= -->
<div class="main-content">
<!-- <div class="breadcrumb">
<h1>لوحه التحكم </h1>
</div>


<-- section 1-->
<section class="ul-widget-stat-s1">
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center"><i class="i-Add-User"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0"><a href="{% url 'users:users' %}">العملاء</a></p>
                    <p class="text-primary text-24 line-height-1 mb-2">{{User_sum}}</p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center"><i class="i-Suitcase"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0"><a href="{% url 'users:accepted_companies' %}">الشركات المقبولة</a></p>
                    <p class="text-primary text-24 line-height-1 mb-2">{{accepted_company}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center"><i class="i-Bell"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0"><a href="{% url 'users:outstanding_companies' %}">الشركات المعلقة</a></p>
                    <p class="text-primary text-24 line-height-1 mb-2">{{pending_company}}</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center"><i class="i-File-Horizontal-Text"></i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0"><a href='{% if user_profile.userType == "شركة" %}{% url "orders:request_order_for_company" %}{% else %}{% url "request:request_list" %}{% endif %}'>الطلبات</a></p>
                    <p class="text-primary text-24 line-height-1 mb-2">{{User_request_list}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- end:: section 1-->


<!-- end of main-content -->
</div><!-- Footer Start -->
<div class="flex-grow-1"></div>
<div class="app-footer">
<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
<a class="btn btn-primary text-white btn-rounded" href="https://themeforest.net/item/gull-bootstrap-laravel-admin-dashboard-template/23101970" target="_blank">Buy Gull HTML</a>
<span class="flex-grow-1"></span>
<div class="d-flex align-items-center">
    <img class="logo" src="../../dist-assets/images/logo.png" alt="">
    <div>
        <p class="m-0">&copy; 2018 Gull HTML</p>
        <p class="m-0">All rights reserved</p>
    </div>
</div>
</div>
</div>
<!-- fotter end -->
</div>
</div><!-- ============ Search UI Start ============= -->
{% endblock %}